name: PR
on:
    pull_request:
        branches: ['*']
jobs:
    check:
        name: Check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: valitydev/action-setup-thrift@v1.0.1
            - uses: valitydev/action-frontend/setup@v1
            - run: npm ci
            - name: Prettier check
              run: npm run prettier:check
            - name: Run tests
              run: npm run test
            - uses: valitydev/action-frontend/publish@v1
              with:
                  npm-token: ${{ secrets.NPM_TOKEN }}
